/* Position */
.relative {
    position: relative;
}
.absolute {
    position: absolute;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.4);
}
.overlay-transparent {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
}
/* flex */
.d-flex {
 display: flex;
}
.justify-space-between {
    justify-content: space-between;
}
.align-center {
    align-items: center;
}

/* color */
.text-white {
    color: white;
}